@page
<!DOCTYPE html>
<html>
<head>

    <title>

    </title>
</head>
<body>
    <script src="~/js/connectHub.js"></script>
    <div class="container">
        <input type="text" id="usrname" placeholder="Username" />
        <input type="button" id="connect" placeholder="Connect" value="Chat"/>
    </div>

</body>
</html>
